.calendar-scheduler {
    box-sizing: border-box;
    width: 70em;

    border: 1px solid lightgray;

    > .grid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &.header {
            height: 3em;
            line-height: 3em;

            border-bottom: 1px solid lightgray;

            > .day {
                flex: 1;
                text-align: center;
            }
        }

        &.body {
            > .time-column {
                flex: 1;
                text-align: center;
                border-left: 1px solid lightgray;

                > .timeslot {
                    height: 4em;
                    line-height: 4em;
                    border-bottom: 1px solid lightgray;

                    &.selection {
                        display: flex;
                        flex-direction: column;

                        > .half {
                            flex: 1;

                            &:hover {
                                cursor: pointer;
                                background: rgba(0, 0, 0, 0.2);
                            }
                        }

                        > .half:nth-child(1) {
                            border-bottom: 1px dashed lightgray;
                        }
                    }
                }
            }
        }
    }
}
